#log-in {
    width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#log-in #title {
    font-size: 6vw;
    text-align: center;
}

