@font-face {
    font-family: pixopedia;
    src: url(../public/pixopedia.ttf);
}

html {
    background-color: black;
    color: white;
    font-family: pixopedia;
}

body {
    margin: 0;
    -ms-overflow-style: none;
}

body.swal2-height-auto {
    height: 100% !important;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}