#game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game #info {
    width: 80%;
    max-width: 870px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

#game #info > div {
    width: 30%;
}

#game #info #game-type {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: clamp(23px, 3vw, 35px);
    color: #fff84b;
}

#game #info .player-box {
    display: flex;
    align-items: center;
}

#game #info .player-box > *:nth-child(1) {
    margin-right: 10px;
}

#game #info .player-box .avatar {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

#game #info .player-box .name-level {
    height: 100%;
}

#game #info .player-box .name-level .nickname {
    font-size: 20px;
    margin: 10px 0;
    color: #65ff4b;
}

#game #info .player-box .name-level .level {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

#game #info .player-box .name-level .level .tier-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#game #info #playerB {
    justify-content: right;
}

#game #info #playerB .name-level .level {
    justify-content: right;
}

#game canvas {
    width: clamp(615px, 80vw, 870px);
    height: clamp(407px, 53vw, 576px);
}

#game canvas.wait {
    display: none;
}