#main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#main #top-buttons,
#chat-interface {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main #top-buttons #game-buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

#main #top-buttons #game-buttons button {
  width: 35%;
  height: max(70px, 5vw);
  border-radius: 10px;
  border: none;
  font-size: clamp(20px, 2.5vw, 30px);
  cursor: pointer;
}

#main #casual-button {
  background-color: #65ff4b;
}

#main #ladder-button {
  background-color: #fff84b;
  margin: 0 10px 0 10px;
}

#main #ranking-button {
  background-color: #ff2f2f;
}

#main #top-buttons #personal-buttons {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

#main #top-buttons #personal-buttons button {
  height: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#main #top-buttons #personal-buttons #profile-button {
  width: 67%;
  font-size: clamp(20px, 2.5vw, 30px)
}

#main #top-buttons #personal-buttons #logout-button {
  width: 30%;
  font-size: max(13px, 1.5vw);
  background-color: #b3b3b3;
}

#main #chat-interface {
  height: 80%;
}

#main #chat-interface #chat-box {
  width: 60%;
  border: 3px solid #d9d9d9;
  border-radius: 20px;
  padding: 0 30px;
  box-sizing: border-box;
}

#main #chat-interface #chat-box #chat-status {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main #chat-interface #chat-box #chat-status #chat-name {
  width: 100%;
  overflow: hidden;
  font-size: 32px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d9d9d9;
  margin: 15px 0;
}

#main #chat-interface #chat-box #chat-window {
  height: 78%;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-size: 24px;
  overflow-anchor: bottom;
}

#main #chat-interface #chat-box #chat-window .error-message {
  color: #ff2f2f;
}

#main #chat-interface #chat-box #chat-window .system-message {
  color: #65ff4b;
}

#main #chat-interface #chat-box #chat-window .my-message {
  color: #fff84b;
}

#main #chat-interface #chat-box input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

#main #chat-interface #chat-box input:focus {
  outline: none;
}

#main #chat-interface #switch-box {
  width: 35%;
  overflow-y: auto;
  border: 3px solid #d9d9d9;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

#main #chat-interface #switch-box #switch-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main #chat-interface #switch-box button {
  width: 95%;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  line-height: 1.5;
  text-align: center;
  border: 2px solid #d9d9d9;
  padding: 6px 12px;
  font-size: clamp(15px, 2vw, 20px);
  margin: 0px 2px 0px 2px;
}

#main #chat-interface #switch-box #switch-buttons button {
  padding: 6px 6px;
  width: 48%;
}

#main #chat-interface #switch-box #join-channel {
  width: 100%;
}

#main #chat-interface #switch-box button.selected {
  background-color: #d9d9d9;
  color: black;
  border: none;
}

#main #chat-interface #switch-box #list-window {
  height: 100%;
  overflow-y: scroll;
  padding: 20px 5px;
}

#main #chat-interface #switch-box #list-window .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main #chat-interface #switch-box #list-window .button-invite-type {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main #chat-interface #switch-box #list-window .button-invite-type button {
  width: 50%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#main #chat-interface #switch-box #list-window .button-normal-invite  {
  background-color: #378f28;
}

#main #chat-interface #switch-box #list-window .button-power-invite  {
  background-color: #ff4b7b;
}

#main #chat-interface #switch-box #list-window div {
  margin-bottom: 5px;
}

#main #chat-interface #switch-box #list-window .user-selected {
  padding-bottom: 5px;
}
